.bgLight {
    background-color: #fff;
    color: #333;
    min-height: 100vh;
    overflow: hidden;
  }
  
  .bgNight {
    background-color: rgb(23, 23, 50);
    color: #fff;
    min-height: 100vh;
    overflow: hidden;
  } 

  .formStyle {
    margin: auto;
    max-width: 700px;
    width: 90vw;
  }

  .logo {
    background: linear-gradient(to right, red, orange, green, orange);
    background-clip: text;
    color: transparent;
    font-size: 25px;
    font-weight: bold;
    padding: 10px;
  }

  .weatherImage {
    background: radial-gradient(circle at top left,white, white, yellow, yellow);
    border-radius: 100%;
    height: 40px;
    width: 40px;
  }

  .cityStyle {
    font-weight: bolder;
  }

  @media screen and (max-width: 679px){
    .weatherDisplay {
      display: none;
    }
  }